<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Uploads</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
  <div class="app">

    <div class="form-section">

      <form action="/upload1" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload Class 1">
      </form>

    </div>
    <div id="drop_area1" style="padding:100px; border: 1px solid black">
        Drag and drop your files here to upload.
    </div>
    <script lang="javascript">
        // prevent the default behavior of web browser
        ['dragleave', 'drop', 'dragenter', 'dragover'].forEach(function (evt) {
            document.addEventListener(evt, function (e) {
                e.preventDefault();
            }, false);
        });

        var drop_area = document.getElementById('drop_area1');
        drop_area.addEventListener('drop', function (e) {
            e.preventDefault();
            var fileList = e.dataTransfer.files; // the files to be uploaded
            if (fileList.length == 0) {
                return false;
            }

            // we use XMLHttpRequest here instead of fetch, because with the former we can easily implement progress and speed.
            var xhr = new XMLHttpRequest();
            xhr.open('post', '/upload_images1_drop', true); // aussume that the url /upload handles uploading.
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // uploading is successful
                    location.reload(); // please replace with your own logic
                }
            };



            // send files to server
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            var fd = new FormData();
            for (let file of fileList) {
                fd.append('files', file);
            }
            lastTime = Date.now();
            xhr.send(fd);
        }, false);
    </script>
    <div class="images-section">
      {% for image in images1 %}
        <a href="{{ url_for('serve_image1', filename=image) }}" target="_blank">
          <img src="{{ url_for('serve_image1', filename=image) }}"/>
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="app">
    <div class="form-section">

      <form action="/upload2" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload Class 2">
      </form>

    </div>
  <div id="drop_area2" style="padding:100px; border: 1px solid black">
        Drag and drop your files here to upload.
    </div>
    <script lang="javascript">
        // prevent the default behavior of web browser
        ['dragleave', 'drop', 'dragenter', 'dragover'].forEach(function (evt) {
            document.addEventListener(evt, function (e) {
                e.preventDefault();
            }, false);
        });

        var drop_area = document.getElementById('drop_area2');
        drop_area.addEventListener('drop', function (e) {
            e.preventDefault();
            var fileList = e.dataTransfer.files; // the files to be uploaded
            if (fileList.length == 0) {
                return false;
            }

            // we use XMLHttpRequest here instead of fetch, because with the former we can easily implement progress and speed.
            var xhr = new XMLHttpRequest();
            xhr.open('post', '/upload_images2_drop', true); // aussume that the url /upload handles uploading.
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // uploading is successful
                    location.reload(); // please replace with your own logic
                }
            };



            // send files to server
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            var fd = new FormData();
            for (let file of fileList) {
                fd.append('files', file);
            }
            lastTime = Date.now();
            xhr.send(fd);
        }, false);
    </script>

    <div class="images-section">
      {% for image in images2 %}
        <a href="{{ url_for('serve_image2', filename=image) }}" target="_blank">
          <img src="{{ url_for('serve_image2', filename=image) }}"/>
        </a>
      {% endfor %}
    </div>

  </div>









  <div class="app">
    <div class="form-section">

      <form action="/upload3" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload Class 3">
      </form>

    </div>
  <div id="drop_area3" style="padding:100px; border: 1px solid black">
        Drag and drop your files here to upload.
    </div>
    <script lang="javascript">
        // prevent the default behavior of web browser
        ['dragleave', 'drop', 'dragenter', 'dragover'].forEach(function (evt) {
            document.addEventListener(evt, function (e) {
                e.preventDefault();
            }, false);
        });

        var drop_area = document.getElementById('drop_area3');
        drop_area.addEventListener('drop', function (e) {
            e.preventDefault();
            var fileList = e.dataTransfer.files; // the files to be uploaded
            if (fileList.length == 0) {
                return false;
            }

            // we use XMLHttpRequest here instead of fetch, because with the former we can easily implement progress and speed.
            var xhr = new XMLHttpRequest();
            xhr.open('post', '/upload_images3_drop', true); // aussume that the url /upload handles uploading.
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // uploading is successful
                    location.reload(); // please replace with your own logic
                }
            };



            // send files to server
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            var fd = new FormData();
            for (let file of fileList) {
                fd.append('files', file);
            }
            lastTime = Date.now();
            xhr.send(fd);
        }, false);
    </script>

    <div class="images-section">
      {% for image in images3 %}
        <a href="{{ url_for('serve_image3', filename=image) }}" target="_blank">
          <img src="{{ url_for('serve_image3', filename=image) }}"/>
        </a>
      {% endfor %}
    </div>

  </div>



    <div class="app">
    <div class="form-section">

      <form action="/upload4" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload Class 4">
      </form>

    </div>
  <div id="drop_area4" style="padding:100px; border: 1px solid black">
        Drag and drop your files here to upload.
    </div>
    <script lang="javascript">
        // prevent the default behavior of web browser
        ['dragleave', 'drop', 'dragenter', 'dragover'].forEach(function (evt) {
            document.addEventListener(evt, function (e) {
                e.preventDefault();
            }, false);
        });

        var drop_area = document.getElementById('drop_area4');
        drop_area.addEventListener('drop', function (e) {
            e.preventDefault();
            var fileList = e.dataTransfer.files; // the files to be uploaded
            if (fileList.length == 0) {
                return false;
            }

            // we use XMLHttpRequest here instead of fetch, because with the former we can easily implement progress and speed.
            var xhr = new XMLHttpRequest();
            xhr.open('post', '/upload_images4_drop', true); // aussume that the url /upload handles uploading.
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // uploading is successful
                    location.reload(); // please replace with your own logic
                }
            };



            // send files to server
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            var fd = new FormData();
            for (let file of fileList) {
                fd.append('files', file);
            }
            lastTime = Date.now();
            xhr.send(fd);
        }, false);
    </script>

    <div class="images-section">
      {% for image in images4 %}
        <a href="{{ url_for('serve_image4', filename=image) }}" target="_blank">
          <img src="{{ url_for('serve_image4', filename=image) }}"/>
        </a>
      {% endfor %}
    </div>

  </div>





    <div class="app">
    <div class="form-section">

      <form action="/upload5" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload Class 5">
      </form>

    </div>
  <div id="drop_area5" style="padding:100px; border: 1px solid black">
        Drag and drop your files here to upload.
    </div>
    <script lang="javascript">
        // prevent the default behavior of web browser
        ['dragleave', 'drop', 'dragenter', 'dragover'].forEach(function (evt) {
            document.addEventListener(evt, function (e) {
                e.preventDefault();
            }, false);
        });

        var drop_area = document.getElementById('drop_area5');
        drop_area.addEventListener('drop', function (e) {
            e.preventDefault();
            var fileList = e.dataTransfer.files; // the files to be uploaded
            if (fileList.length == 0) {
                return false;
            }

            // we use XMLHttpRequest here instead of fetch, because with the former we can easily implement progress and speed.
            var xhr = new XMLHttpRequest();
            xhr.open('post', '/upload_images5_drop', true); // aussume that the url /upload handles uploading.
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // uploading is successful
                    location.reload(); // please replace with your own logic
                }
            };



            // send files to server
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            var fd = new FormData();
            for (let file of fileList) {
                fd.append('files', file);
            }
            lastTime = Date.now();
            xhr.send(fd);
        }, false);
    </script>

    <div class="images-section">
      {% for image in images5 %}
        <a href="{{ url_for('serve_image5', filename=image) }}" target="_blank">
          <img src="{{ url_for('serve_image5', filename=image) }}"/>
        </a>
      {% endfor %}
    </div>

  </div>






  <div class="app">
    <div class="form-section">

      <form action="/train" method="post">
        <input type="submit" value="Train">
      </form>

    </div>
  </div>
</body>
</html>