<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Use Trained Model</title>
</head>
<body>
<form action="/download_pt" method="post" enctype="multipart/form-data">
    <input type="submit" value="Download Pytorch Model">
</form>

<form action="/download_onnx" method="post" enctype="multipart/form-data">
    <input type="submit" value="Download ONNX Model">
</form>

<form action="/upload_test_file">
    <input type="file" name="file">
    <input type="submit" value="Download ONNX Model">
</form>
</body>
</html>